#index-banner{
    background: url(../images/accessories.jpg) -200px -100px;
}

footer{ 
    ul{
        display: flex;
        justify-content: space-between;
        font-size: 0.6em;
    }
}
.row{
  padding-top: 1em;
  padding-bottom: 1em;
  .fa {
    display: flex;
    font-size: 6em;
    justify-content: center;
  }
}
oma{
    .fa {
    font-size: 1em;
  }
}
